body {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  margin-top: -46px;
}

/* Common style rouls =============================================================== */
:root{
  --color-blue--: rgb(68, 68, 223);
}

.body__contents{
  width: 1024px;
  margin-left: calc(50% - 512px);
}
.logInSpinnerMove{
  position: relative;
  top: -40px;
  left: 300px;
}
.askMarkMove{
  float: right;
  margin-top: -7px;
}