body {
  /* Frame 1 */
  position: relative;
  width: 1400px;
  left: calc(50% - 700px);
  height: 1299px;

  /* BG / Default List */

  background: #F5F5F5;
}
/* *{
  border: 1px solid red;
}
 */
/* Common style rouls =============================================================== */
:root{
  --color-blue--: rgb(68, 68, 223);
}
#headbar__Container{
/* Rectangle 1 */
  position: absolute;
  width: 1400px;
  height: 103px;
  left: 0px;
  top: -7px;
  background: #FFFFFF;
}
#headbar__headLine{
  /* Worshop Schema */
  position: absolute;
  width: 221px;
  height: 50px;
  left: 32px;
  top: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #AE0B05;
}