.btnContainer__btnHeadline{
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 0px;
  width: 105px;
}
.btnHeadline{
  display: inline-block;
  position: relative;
  width: 133px;
  height: 32px;
  left: -6px;
  top: -9px;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}
.btnHeadline__logout{
  display: inline-block;
  position: relative;
  width: 133px;
  height: 32px;
  left: 0px;
  top: -50px;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}
.btnHeadline__add{
  display: inline-block;
  position: relative;
  width: 133px;
  height: 32px;
  left: -137px;
  top: -14px;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}
.btnHeadline__canceled{
  display: inline-block;
  position: relative;
  width: 133px;
  height: 32px;
  left: 7px;
  top: -48px;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}

.logInOut__usernameContainer{
  margin-left: 10px;
  margin-top: -14px;
  margin-bottom: -25px;
}
.logInOut__passwordContainer{
  margin-left: 256px;
  margin-top: -69px;
  margin-bottom: -25px;
}
.logInOut__inputLabelFormat{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.logInOut__username{
  width: 221px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: -25px;
}
.logInOut__password{
  width: 221px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: -25px;

}
.username__input{
  /* Rectangle 2 */
  width: 228px;
  height: 29px;
  margin-left: 0px;
  margin-top: 0px;

  /* BG / Default List */
  background: #F5F5F5;

  /* Mono / Ljusare */
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}
.password__input{
  /* Rectangle 3 */
  width: 228px;
  height: 29px;
  margin-left: 0px;
  margin-top: 0px;

  /* BG / Default List */
  background: #F5F5F5;

  /* Mono / Ljusare */
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}
.btnContainer__submitBtn{
  margin-right: 108px;
  margin-top: 29px;
  margin-left: 0;
  width: 141px;
  height: 39px;
  background: #AE0B05;
  border-radius: 4px;
}
.logInOut__logedInUser{
  width: 472px;
  height: 0;
  margin-left: 0;
  margin-bottom: 50px;  

  text-align: center;
}
.logInOut__btnInContainer{
  margin-left: 494px;
  width: 181px;
  margin-top: -62px;
}
.logInOut__btnOutContainer{
  width: 181px;
  height: 80%;
  margin-left: 499px;
  margin-top: -67px;
}
.btnContainer__btnLogOut{
  margin-left: 5px;
  margin-top: 32px;
}
.btnContainer__btnAddCanceled{
  margin-left: 13px;
  margin-top: 19px;
}
.btnContainer__btnAdd{
  margin-left: -253px;
  margin-top: 3px;
}
.btnLogOut__input{
  right: 108px;
  margin-left: 0;
  width: 141px;
  height: 39px;
  background: #AE0B05;
  border-radius: 4px;
}
.logInOut__regLink{
  margin-left: 42px;
  margin-right: 18px;
  width: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;
  font-size: 12px;
}
.logInOut__userInfo{
  width: 377px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logInOut__loginErrorMess{
  margin-top: 14px;
  margin-left: 18px;
  width: 149px;
  font-size: 13.5px;
  color: #AE0B05;
  font-weight: bold;
}