.btnContainer__btnHeadline{
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 0px;
  width: 105px;
}
.btnHeadline{
  display: inline-block;
  position: relative;
  width: 133px;
  height: 32px;
  left: -14px;
  top: -50px;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}
.headContainer__logInOut{
  width: 706px;
  height: 75px;
  margin-left: 770px;
  margin-top: -60px;
}
.logInOut__usernameContainer{
  margin-left: 10px;
  margin-top: -14px;
  margin-bottom: -25px;
}
.logInOut__passwordContainer{
  margin-left: 256px;
  margin-top: -69px;
  margin-bottom: -25px;
}
.logInOut__inputLabelFormat{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.logInOut__username{
  width: 221px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: -25px;
}
.logInOut__password{
  width: 221px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: -25px;

}
.username__input{
  /* Rectangle 2 */
  width: 228px;
  height: 29px;
  margin-left: 0px;
  margin-top: 0px;

  /* BG / Default List */
  background: #F5F5F5;

  /* Mono / Ljusare */
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}
.password__input{
  /* Rectangle 3 */
  width: 228px;
  height: 29px;
  margin-left: 0px;
  margin-top: 0px;

  /* BG / Default List */
  background: #F5F5F5;

  /* Mono / Ljusare */
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}
.btnContainer__submitBtn{
  margin-right: 108px;
  margin-top: 29px;
  margin-left: 0;
  width: 141px;
  height: 39px;
  background: #AE0B05;
  border-radius: 4px;
}
.logInOut__logedInUser{
  width: 472px;
  height: 47px;
  margin-left: 0;
  text-align: center;
  line-height: 47px;
}
.logInOut__btnInContainer{
  margin-left: 494px;
  width: 181px;
  margin-top: -62px;

}
.logInOut__btnOutContainer{
  width: 181px;
  height: 80%;
  margin-left: 499px;
  margin-top: -67px;
}
.btnContainer__btnLogOut{
  margin-bottom: -65px;

}
.btnContainer__btnAdd{

}
.btnLogOut__input{
  right: 108px;
  margin-left: 0;
  width: 141px;
  height: 39px;
  background: #AE0B05;
  border-radius: 4px;
}
.btnContainer__inputHeadline{
  margin-left: 18px;
  margin-right: 18px;
  width: 105px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;
}
.logInOut__regLink{
  margin-left: -20px;
  margin-top: -10px;
  font-size: 12px;
}