.searchBar__searchContainer{
    margin-left: 43.5px;
    margin-right: 0px;
    margin-top: 37px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 937px;
    height: 39px;
    z-index: -1;
}
.searchContainer__searchBar{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 937px;
    height: 44px;
} 
.searchContainer__searchBtn{
    position: relative;
    right: 15px;
    float: right;
    top: -33px;
    width: 81px;
    height: 25px;
    background: #707070;
    border-radius: 4px;
}
.searchContainer__searchHeadline{
    width: 45px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}   