/* SQL Table ----------- */
#container__tableSchedule{
  position: absolute;
  width: 1024px;
  height: 430px;
  left: 186px;
  top: 214px;
  display: block;
}
#tableSchedule__body{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
}
#tableSchedule__tBody{
  margin-top: 2px;
  display: block;
  height: 66vh;
  overflow: scroll;
  overflow-x: hidden;
}
thead, tbody tr{
  display: table;
  width: 100%;
  table-layout:fixed;
  color: #000000;
}
#tableSchedule__body tr:nth-child(even){
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
}
#tableSchedule__body th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #FFFFFF;
  background: #AE0B05;
  border: 1px solid #612E08;
  font-weight: normal;
  margin-bottom: 50px;
}

#tableSchedule__body thead {
  width: 99%;
}
.tableCol1{
  width: 4%;
}
.tableCol2{
  width: 11%;
}
.tableCol3{
  width: 11%;
}
.tableCol4{
  width: 15%;
}
.tableCol9{
  width: 15%;
}
.addSqlInput{
  width: 100%;
}
.tableCol1AddForm{
  width: 4%;
}
.tableCol2AddForm{
  width: 9.2%;
}
.tableCol3AddForm{
  width: 9.4%;
}
.tableCol4AddForm{
  width: 14.9%;
}
.tableCol5AddForm{
  width: 9.3%;
}
.tableCol6AddForm{
  width: 9.3%;
}
.tableCol7AddForm{
  width: 9.4%;
}
.tableCol8AddForm{
  width: 9.3%;
}
.tableCol9AddForm{
  width: 14.9%;
}