/* ================================================== To be Implemented as Styled Components ================================================== */
.formAdd__addContainer{
  width: 1024px;
  height: 103px;
  margin-left: calc(50% - 512px);
  margin-top: 197px;
  display: block;
}
.addContainer__body{
  border-collapse: collapse;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  margin-top: -162px;
  margin-left: 9px;
}
.addContainer__Tbody{
    margin-top: 2px;
    display: block;
    height: 66vh;
    width: 99%;
    margin-left: -1px;
}
  thead, tbody tr{
    display: table;
    width: 100%;
    table-layout:fixed;
    color: #000000;
  }
  .addContainer__body tr:nth-child(even){
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
  }
  .addContainer__body th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #FFFFFF;
    background: #AE0B05;
    border: 1px solid #612E08;
    font-weight: normal;
    margin-bottom: 50px;
  }
  
  .addContainer__body thead {
    width: 99%;
  }
  .tableCol1{
    width: 4%;
  }
  .tableCol2{
    width: 11%;
  }
  .tableCol3{
    width: 11%;
  }
  .tableCol4{
    width: 15%;
  }
  .tableCol9{
    width: 15%;
  }
  .addSqlInput{
    width: 100%;
  }
  .tableCol1AddForm{
    width: 4%;
  }
  .tableCol2AddForm{
    width: 9.2%;
  }
  .tableCol3AddForm{
    width: 9.4%;
  }
  .tableCol4AddForm{
    width: 14.9%;
  }
  .tableCol5AddForm{
    width: 9.3%;
  }
  .tableCol6AddForm{
    width: 9.3%;
  }
  .tableCol7AddForm{
    width: 9.4%;
  }
  .tableCol8AddForm{
    width: 9.3%;
  }
  .tableCol9AddForm{
    width: 14.9%;
  }
  /* Added User Data ==================================== */
.btnAddedSendContainer__sendBtn{
  margin-left: 1074px;
  margin-right: 0px;
  margin-top: 38px;
  width: 141px;
  height: 39px;
  background: #AE0B05;
  border-radius: 4px;
}
.btnHeadline__sendIn{
  position: relative;
  width: 133px;
  height: 32px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 7px;
  color: white;
}