/* ================================================== To be Implemented as Styled Components ================================================== */
.regUser__regContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-left: calc(50% - 100px);
    margin-top: 10px;
}
.regUser__regContainer div{
    margin-top: 20px;
    width: 200px;
}
.regContainer__submitBtn{
    margin-left: calc(50% - 70px);
    width: 100px;
    height: 39px;
    background: #AE0B05;
    border-radius: 4px;
}
.regContainer__headline{
    position: relative;
    top: -41px;
    width: 133px;
    left: 14px;
    height: 32px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 7px;
    color: white;
}
.logInOut__btnRegContainer{
    margin-left: 1319px;
    width: 181px;
    margin-top: -104px;
}
.btnContainer__cancelReg{
    margin-top: 20px;
    margin-left: 1px;
}
.btnHeadline__cancelReg{
    display: inline-block;
    position: relative;
    width: 133px;
    height: 32px;
    left: 523px;
    top: -48px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
}
.btnLogOut__cancelReg{
    margin-left: 525px;
    width: 141px;
    margin-top: 12px;
    height: 39px;
    background: #AE0B05;
    border-radius: 4px;
}